<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('account') }}">
            Modifier votre profil
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_password') }}">
            Modifier votre mot de passe
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('account_security') }}">
            {{ 'security'|trans }}
        </a>
    </li>