{% extends 'base.html.twig' %}

{% block title %}Rollscape - Espace Membre{% endblock %}

{% block main %}


<div class="container w-50 mx-auto mt-5">

    <h2 class="ff-montserrat fw-bold fs-3">Modifier votre profil</h2>
    <div class="mt-4">
        {{form(modifyPwd, {
                'attr': {
                    'novalidate': 'novalidate',
                    'data-turbo': 'false'
                }
            })}}
    </div>
    <p class="mt-4"><a href="{{ path('app_account') }}" class="text-decoration-none">Retour à l'espace membre</a></p>
    
</div>
{% endblock %}
