<form method="post" action="{{ path('app_ressource_delete', {'id': ressource.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ressource ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.id) }}">
    <button class="btn btn-danger btn-sm"><i class="bi bi-trash" data-bs-toggle="tooltip" title="Supprimer" data-bs-placement="top"></i></button>
</form>
