/* Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --rs-font: "montserrat", sans-serif;
  --rs-color-accent: #f37021;
  --rs-color-light: #f5f5f5;
  --rs-color-white: #fefefe;
  --rs-color-border: #e9ecef;
  --rs-color-text: #6c757d;
  --rs-color-logo: #212020;
}

html[data-theme="dark"] {
  --rs-color-accent: #f88f4a;
  --rs-color-light: #121212;
  --rs-color-white: #363535;
  --rs-color-border: #595858;
  --rs-color-text: #e7e0e0;
  --rs-color-logo: #e7e0e0;
}

#theme-toggle {
  /* position: absolute; */
  /* bottom: 4rem; */
  /* right: 4rem; */
  /* z-index: 2; */
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: var(--rs-font);
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: -0.05em;
}

body {
  background: var(--rs-color-light);
}

body,
html {
  min-height: 100vh;
  overflow: hidden;
}

main {
  max-height: 100vh;
  overflow: auto;
}

.btn {
  text-decoration: none;
  font-weight: 600;
}

.card-center {
  height: 90vh;
}

/* Style de Search Bar */
.form-search {
  background-color: var(--rs-color-white);
}

form .search-button:focus {
  outline: none;
  box-shadow: none;
}

/* ///////////////////////////////////////
    Classes utilitaires
////////////////////////////////////// */
.ff-montserrat {
  font-family: var(--rs-font);
}

/* ///////////////////////////////////////
    MASONRY GRID
////////////////////////////////////// */
.masonry-gallery {
  column-count: 4;
  column-gap: 1rem;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}

/* Responsive : réduire le nombre de colonnes selon la taille */
@media (max-width: 1200px) {
  .masonry-gallery {
    column-count: 3;
  }
}
@media (max-width: 768px) {
  .masonry-gallery {
    column-count: 2;
  }
}
@media (max-width: 576px) {
  .masonry-gallery {
    column-count: 1;
  }
}

/* ///////////////////////////////////////
    ACCOUNT SIDEBAR
////////////////////////////////////// */

.sidebar {
  max-width: 300px;
  flex-shrink: 0;
  background-color: var(--rs-color-white);
  border-right: 1px solid var(--rs-color-border);
  padding-top: 20px;
  height: 100vh;
}

.sidebar-logo {
  padding: 0 15px 0 15px;
  margin-bottom: 0px;
  text-align: center;

  a {
    color: var(--rs-color-logo);
  }

  img {
    width: 8rem;
    margin-bottom: -2rem;
  }
}

.nav-link {
  color: var(--rs-color-text);
  padding: 15px 10px 10px 10px;
  margin: 5px 0 5px 0;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-left: 0.6rem;
}

.sidebar .nav-link.active::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-bottom-right-radius: 20px;
  border-right: 1px solid var(--rs-color-border);
  border-bottom: 1px solid var(--rs-color-border);
  box-shadow: 5px 5px 0 5px var(--rs-color-light);
  transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link.active::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-right: 1px solid var(--rs-color-border);
  border-top: 1px solid var(--rs-color-border);
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px var(--rs-color-light);
  border-right: 1px solid var(--rs-color-border);
  transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  /* background-color: #f1f3f5; */
  color: var(--bs-primary);
}

.nav-link.active {
  background-color: var(--rs-color-light);
  color: var(--bs-primary);
  font-weight: 500;
  box-shadow: 5px 0 0 -1px var(--rs-color-light);
  border: 1px solid var(--rs-color-border);
  border-right: 0;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.nav-link i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.badge-count {
  margin-left: auto;
  background-color: #e9ecef;
  color: var(--rs-color-text);
}

/* 📦 Contenu principal */
.main-content {
  flex-grow: 1;
  overflow-y: auto;
  /* background-color: #f5f5f5; */
}

/* .content-header {
  padding: 15px 20px;
  margin-bottom: 20px;
}

.content-header h4 {
  color: #6c757d;
  margin: 0;
  font-weight: 400;
} */

/* ///////////////////////////////////////
    SIDEBAR RETRACTABLE
////////////////////////////////////// */
.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .nav-link {
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  padding-left: 0;
}

.sidebar.collapsed .nav-link i {
  margin: 0;
}

.sidebar.collapsed .nav-link span,
.sidebar.collapsed .logo-text {
  display: none;
}

.sidebar.collapsed .sidebar-logo h1 {
  font-size: 1.5rem;
}

.sidebar.collapsed .sidebar-logo {
  margin: 0;
  padding: 0;
}
.sidebar.collapsed .sidebar-logo img {
  width: 70px;
}

.rs-toggle-btn {
  position: relative;
  min-height: 4rem;
}

#toggleSidebar {
  position: absolute;
  top: 1rem;
  background-color: var(--rs-color-light);
  right: -15px;
  z-index: 2;

  &:hover {
    color: var(--rs-color-text);
  }
}

/* ///////////////////////////////////////
    RESSOURCE PREVIEW IMG
////////////////////////////////////// */

.img-preview {
  height: 50%;
}

.img-preview img {
  height: 100%;
}

.img-preview-placeholder {
  background-color: #827c7c;
  position: relative;
}

.img-preview-placeholder::after {
  content: "Apperçu de la ressource";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--rs-color-white);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  /* text-transform: uppercase; */
}

/* ///////////////////////////////////////
    RESSOURCE CARDS
////////////////////////////////////// */

.hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(54, 53, 53, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.bookmark-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

a:hover .hover-overlay {
  opacity: 1;
}

.card:hover .bookmark-overlay {
  opacity: 1;
}

/* ///////////////////////////////////////
    LAYOUT
////////////////////////////////////// */

@media screen and (max-width: 768px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .nav-link {
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    padding-left: 0;
  }

  .sidebar .nav-link i {
    margin: 0;
  }

  .sidebar .nav-link span,
  .sidebar .logo-text {
    display: none;
  }

  .sidebar .sidebar-logo h1 {
    font-size: 1.5rem;
  }

  .sidebar .sidebar-logo {
    margin: 0;
    padding: 0;
  }
  .sidebar .sidebar-logo img {
    width: 70px;
  }

  .rs-toggle-btn {
    position: relative;
    min-height: 4rem;
  }

  #toggleSidebar {
    display: none;
  }
}
