/* Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --rs-font: "montserrat", sans-serif;
}

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: var(--rs-font);
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: -0.05em;
}

body {
  background: whitesmoke;
}

main {
  max-height: 100vh;
  overflow: auto;
}

.btn {
  text-decoration: none;
  /* color: orange; */
  font-weight: 600;
}

.card-center {
  height: 90vh;
}

/* ///////////////////////////////////////
    Classes utilitaires
////////////////////////////////////// */
.ff-montserrat {
  font-family: var(--rs-font);
}

/* ///////////////////////////////////////
    ACCOUNT SIDEBAR
////////////////////////////////////// */

.sidebar {
  height: 100vh;
  background-color: #ffffff;
  /* border-right: 1px solid #e9ecef; */
  padding-top: 20px;
}

.sidebar-logo {
  padding: 0 15px 20px 15px;
  margin-bottom: 20px;
  /* border-bottom: 1px solid #e9ecef; */
  text-align: center;
}

.nav-link {
  color: #495057;
  padding: 12px 15px;
  margin: 10px 0 10px 0;
  border-radius: 20px 0 0 20px;
  /* transition: 0.3s; */
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.sidebar .nav-link.active::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px #f5f5f5;
}

.sidebar .nav-link.active::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px #f5f5f5;
  border-right: 1px solid #e9ecef;
}

.nav-link:hover {
  /* background-color: #f1f3f5; */
  color: #0d6efd;
}

.nav-link.active {
  background-color: #f5f5f5;
  color: #0d6efd;
  font-weight: 500;
}

.nav-link i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.badge-count {
  margin-left: auto;
  background-color: #e9ecef;
  color: #495057;
}

/* .main-content {
  padding: 20px;
  height: 100vh;
} */

.content-header {
  /* background-color: #ffffff; */
  padding: 15px 20px;
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); */
  margin-bottom: 20px;
}

.content-header h4 {
  color: #6c757d;
  margin: 0;
  font-weight: 400;
}
