{% extends 'landingBase.html.twig' %}

{% block title %}RollScape - Découverte{% endblock %}

{% block main %}

<div class="container mb-5">
  <h2 class="mb-4 ff-montserrat fw-bolder fs-3 d-none">Ressources</h2>
  <div class="masonry-gallery mt-5">
    {% for ressource in ressources %}
      <div class="masonry-item">
        <a href="{{ path('app_ressource_show', {'id': ressource.id}) }}" class="text-decoration-none d-block">
          <div class="card rounded border-0 shadow-sm position-relative">
            <img src="{{ asset('images/ressources/' ~ ressource.filename) }}" alt="{{ ressource.title }}" class="img-fluid w-100 rounded ressource-img">
            <div class="hover-overlay rounded d-flex flex-column align-items-center justify-content-center">
              <h3 class="px-3 fs-6 text-white ff-montserrat text-center mb-3">{{ ressource.title }}</h3>
            </div>
          </a>
        </div>
      </div>
    {% else %}
      <p>Aucune ressource trouvée.</p>
    {% endfor %}
  </div>
</div>



{% endblock %}
